<template>
  <div>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">
          <p class="stp">Welcome</p>
        </v-stepper-step>

        <v-divider color="white"></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">
          <p class="stp">Download Template</p>
        </v-stepper-step>

        <v-divider color="white"></v-divider>

        <v-stepper-step :complete="e1 > 3" step="3">
          <p class="stp">Company</p>
        </v-stepper-step>

        <v-divider color="white"></v-divider>

        <v-stepper-step :complete="e1 > 4" step="4">
          <p class="stp">Operating year</p>
        </v-stepper-step>

        <v-divider color="white"></v-divider>

        <v-stepper-step :complete="e1 > 5" step="5">
          <p class="stp">Office location</p>
        </v-stepper-step>

        <v-divider color="white"></v-divider>

        <v-stepper-step :complete="e1 > 6" step="6">
          <p class="stp">Business units</p>
        </v-stepper-step>

        <v-divider color="white"></v-divider>

        <v-stepper-step :complete="e1 === 7" step="7">
          <p class="stp">Department</p>
        </v-stepper-step>
      </v-stepper-header>

      <!-- <v-stepper-header v-else></v-stepper-header> -->

      <v-stepper-items>
        <v-stepper-content step="1">
          <Welcome :next_step="e1 === 1 && e1" @nextStep="newStep" />
        </v-stepper-content>

        <v-stepper-content step="2">
          <Step1 :step1="e1 === 2 && e1" @onStep1="onStep1" />
        </v-stepper-content>

        <v-stepper-content step="3">
         <Step2 :step2="e1 === 3 && e1" @onStep2="onStep2" />
        </v-stepper-content>

        <v-stepper-content step="4">
         <Step3 :step3="e1 === 4 && e1" @onStep3="onStep3" />
        </v-stepper-content>

        <v-stepper-content step="5">
         <Step4 :step4="e1 === 5 && e1" @onStep4="onStep4" />
        </v-stepper-content>

        <v-stepper-content step="6">
         <Step5 :step5="e1 === 6 && e1" @onStep5="onStep5" />
        </v-stepper-content>

        <v-stepper-content step="7">
         <Step6 :step5="e1 === 7 && e1" @onStep6="onStep6" />
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import Welcome from "./WelcomePage";
import Step1 from "./company/Step1";
import Step2 from "./company/Step2";
import Step3 from "./company/Step3";
import Step4 from "./company/Step4";
import Step5 from "./company/Step5";
import Step6 from "./company/Step6";

export default {
  name: "company",

  components: {
    Welcome,
    Step1,
    Step2,
    Step3,
    Step4,
    Step5,
    Step6,
  },

  data() {
    return {
      e1: 1,
    };
  },

  methods: {
    newStep(value) {
      this.e1 = value;
    },
    onStep1(value) {
      this.e1 = value
    },
    onStep2(value) {
      this.e1 = value
    },
    onStep3(value) {
      this.e1 = value
    },
    onStep4(value) {
      this.e1 = value
    },
    onStep5(value) {
      this.e1 = value
    },
    onStep6(value) {
      this.e1 = value
    }
  },
};
</script>

<style scoped>
.stp {
  font-size: 15px !important;
  font-family: "Source Sans Pro" Geneva, Verdana, sans-serif !important;
  font-style: normal;
  color: #ffffff !important;
  line-height: 48px !important;
  font-weight: 700 !important;
  letter-spacing: -0.03em !important;
}

/* .media {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.media > * {
  flex: 1 1 250px;
  margin: 10px;
} */
</style>